
.title {
  position: absolute;
  left: 30px;
  color: #4A4A4A;
  text-decoration: bold;
  text-size: 1em;
}

.RRLogo {
  position: absolute;
  top: 10px;
  left: 380px;
  width:200px;
  height:60px;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
}
