body {
  background: #32383e;
}

a {
  color:white;
}
a:hover {
  color:white;
}

#run-table {
}

#lap-table {
}

#lap-table tbody tr {
  cursor:pointer;
}

#run-summary-table {
  table-layout: fixed;
}

#run-summary-table tbody th {
  text-align: right;
}

.table-title {
  font-size:24px;
  text-align: center;
}

.selected-cell {
	background:#484848;
}

#map-select-table th {
	text-align: center;
	cursor:pointer;
}